{% extends 'base.html.twig' %}

{% block navbar %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/classroom">Classsroom</a></li>
      <li><a href="/question">Questions</a></li>
      <li><a href="/answer">Answersdfgdfg</a></li>
    </ul>
  </nav>
{% endblock %}
