{% extends 'base.html.twig' %}

 {% block body %}
<div class="classroom">


<p>{{answer}}</p>
<button type="button" class="btn btn-success">{{answer}}</button>

<a class="btn btn-primary btn-sm" href="{{path('classroom')}}">Rock</a>




<p>{{question}}</p>

       
      
       
</div>
 {% endblock %}